// Custom styles
// 页面最顶部的横线
.headband {
    height: 1.5px;
    background-image: linear-gradient(90deg, #F79533 0%, #F37055 15%, #EF4E7B 30%, #A166AB 44%, #5073B8 58%, #1098AD 72%, #07B39B 86%, #6DBA82 100%);
}

// 页面顶部行高
.header {
    line-height: 1.5;
}

// 顶栏宽度
.container .header-inner {
    width: 100%;
}

// 渐变彩带，CSS 代码 Copy 自 https://githubuniverse.com
.site-brand-container {
    background-color: #abcdef;
    //background-image: linear-gradient(90deg, #F79533 0%, #F37055 15%, #EF4E7B 30%, #A166AB 44%, #5073B8 58%, #1098AD 72%, #07B39B 86%, #6DBA82 100%);
}
// 站点名背景
.brand{
    background-color: rgba(255, 255, 255, 0);
    margin-top: 15px;
    padding: 0px;
}
// 站点名字体
.site-title {
    font-size: 64px;
    //font-weight: bold;
    font-style: italic;
    color: rgb(255, 255, 255);
    line-height: 80px;
    letter-spacing: 3px;
}
// 站点子标题
.site-subtitle{
    margin: 0px;
    font-size: 16px;
    font-style: italic;
    letter-spacing: 1px;
    padding-bottom: 3px;
    color: rgb(255, 255, 255);
}
// 菜单
.menu {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 5px;
    background-color: #eeeeee;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15);
}
// 菜单超链接字体大小
.menu .menu-item a {
    font-size: 15px;
}
// 菜单各项边距
.menu .menu-item {
    margin: 5px 15px;
}
// 菜单超链接样式
.menu .menu-item a:hover {
    border-bottom-color: rgba(161, 102, 171, 0);
}

// 页面留白更改
.header-inner {
    padding-top: 0px;
    padding-bottom: 0px;
}
.posts-expand {
    padding-top: 80px;
}
.posts-expand .post-meta {
    margin: 5px 0px 0px 0px;
}
.post-button {
    margin-top: 0px;
}

// 文章标题动态效果
.posts-expand .post-title-link::before {
    background-image: linear-gradient(90deg, #a166ab 0%, #ef4e7b 25%, #f37055 50%, #ef4e7b 75%, #a166ab 100%);
}

// 页面背景色
.container {
//    background-color: rgba(255, 255, 255, 0.75);
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSBNMwxsKxK7t8ANQKKnsc8ar5DLfyuzT46og&usqp=CAU');
}

.index .post-body {
    font-style: italic;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 0px;
    color: #666;
    text-align: center;
}

.vpanel {
    border-style:dotted;
    border-width:thin;
}

// [Read More]按钮样式
.post-button .btn {
    color: rgb(255, 255, 255) !important;
    background-color: #4a5a6a;
    border-radius: 3px;
    font-size: 15px;
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
    border: none !important;
    transition-property: unset;
    padding: 0px 15px;
}
.post-button .btn:hover {
    color: rgb(255, 255, 255) !important;
    border-radius: 3px;
    font-size: 15px;
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
    background-image: linear-gradient(90deg, #a166ab 0%, #ef4e7b 25%, #f37055 50%, #ef4e7b 75%, #a166ab 100%);
    //background-color: #abcdef;
}